// Fira Sans

@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-BlackItalic.ttf);
  font-weight: '900italic';
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Fira-Sans;
  src: url(../fonts/Fira_Sans/FiraSans-Medium.ttf);
  font-weight: 500;
}

// Fira Sans Condensed

@font-face {
  font-family: Fira-Condensed;
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Fira-Condensed;
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Fira-Condensed;
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf);
  font-weight: 800;
}


// Bebas ttf

@font-face {
  font-family: Bebas;
  src: url(../fonts/Babas/ttf/BebasNeue-Bold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Bebas;
  src: url(../fonts/Babas/ttf/BebasNeue-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Bebas;
  src: url(../fonts/Babas/ttf/BebasNeue-Book.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Bebas;
  src: url(../fonts/Babas/ttf/BebasNeue-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Bebas;
  src: url(../fonts/Babas/ttf/BebasNeue-Light.ttf);
  font-weight: 200;
}






