@media(max-width:1750px) {
  .card__label {
    right: -84px;
  }
}

@media(max-width:1700px) {
  .menu__icons-wrap {
    margin-left: 40px;
  }
  
}

@media(max-width:1670px) {
  .card__publish, .card__followers {
    font-size: 15px;
  }
}

@media(max-width:1640px) {
  .card__label {
    right: -77px;
  }
  .goods-buy__price-more {
    min-width: 215px;
  }
  .goods-buy__price-sale-cost, .goods-buy__price-more-cost {
    font-size: 22px;
  }
  .goods-buy__price-sale-title, .goods-buy__price-base-title, .goods-buy__price-more-title {
    font-size: 16px;
  }
  .goods-buy__price-base-cost {
    font-size: 24px;
  }
  .goods-buy__price-more-subtitle {
    font-size: 12px;
  }
  .goods-buy__tooltip {
    left: 89px;
  }
  .goods-buy__tooltip-more {
    left: 32px;
  }
  .goods-buy__price-more {
    min-width: 165px;
  }
  .card-categories__list {
    li {
      margin-right: 7px;
      font-size: 16px;
    }
  }
}

@media(max-width:1600px) {
  .card {
    width: calc(25% - 20px);
  }
  .card__publish, .card__followers {
    font-size: 16px;
  }
  .card__label {
    right: -92px;
  }
  .goods-buy__reviews-post-item:last-child.goods-buy__last-post .goods-buy__reviews-more .goods-buy__reviews-more-bnt {
    width: 60px;
    height: 33px;
    font-size: 21px;
    line-height: 29px;
  }
  .goods-buy__price-more {
    min-width: 155px;
  }
}



@media(max-width:1500px) {
  .header__menu {
    width: 53%;
  }
  .publications__name-wrap {
    width: 38px;
    height: 38px;
  }
  .publications__name {
    margin-left: 8px;
  }
  .publications__name-text {
    margin-left: 4px;
    font-size: 14px;
  }
  .publications__rating {
    margin-right: 8px;
  }
  .publications__descr-text {
    .publications__descr-link {
      font-size: 15px;
      line-height: 18px;
    }
  }
  .heart-number, .repost-number {
    font-size: 12px;
  }
  .publications__rating-heart-img, .publications__rating-repost-img {
    width: 20px;
    height: 20px;
  }
  .publications__rating-repost-img {
    margin-left: 8px;
  }
  .publications__wrap-img {
    height: 350px;
  }

}

@media(max-width:1470px) {
  .goods-buy__brand-add {
    max-width: 180px;
  }
  .seller__review {
    .goods-buy__brand-add {
      max-width: 240px;
    }
  }
  .goods-buy__reviews-btn {
    width: 143px;
    font-size: 22px;
  }
  .goods-buy__reviews-title {
    max-width: 180px;
  }
  .goods-buy__descr-more, .goods-buy__reviews-title  {
    font-size: 22px;
  }
  .goods-buy__reviews-title-number {
    margin-left: 0px;
  }
  .goods-buy__price-sale-title, .goods-buy__price-base-title, .goods-buy__price-more-title {
    font-size: 14px;
  }
  .goods-buy__price-base-title {
    top: 3px;
  }
  .card-categories__list {
    li {
      margin-right: 8px;
      font-size: 16px;
    }
  }
  .card-categories__item {
    width: calc(33.333% - 20px);
  }
}


@media(max-width:1450px) {
  .goods-buy__price-base-cost {
    font-size: 22px;
  }
}

@media(max-width:1440px) {
  
  .card__label {
    right: -85px;
  }
  
}

@media(max-width:1430px) {
  .goods-buy__price-base {
    width: 35%;
  }
  
  .goods-buy__price-sale {
    width: 65%;
  }

  .inner-tff__time {
    padding-right: 0;
  }
  
}

@media(max-width:1400px) {
  .goods-buy__amount-current {
    margin: 0 8px;
  }
  .goods-buy__select-size-item, .goods-buy__amount-minus, .goods-buy__amount-plus {
    width: 45px;
    height: 35px;
    font-size: 22px;
    line-height: 32px;
  }
  .goods-buy__btn-subscribe {
    width: 130px;
    font-size: 22px;
  }
  .goods-buy__amount-balance {
    font-size: 14px;
  }
  .goods-buy__amount-title {
    font-size: 16px;
  }
  .goods-buy__select-size-text {
    font-size: 14px;
  }
  .goods-buy__title {
    font-size: 22px;
  }
  .goods-buy__price-base-cost {
    font-size: 20px;
  }
  .btn-buy, .btn-basket {
    font-size: 21px;
  }
}

@media(max-width:1380px) {
  .card__publish, .card__followers {
    font-size: 15px;
  }
}

@media(max-width:1360px) {
  .card__label {
    right: -79px;
  }
}

@media(max-width:1350px) {
  .select-name {
    flex-basis: 2;
    width: 200px;
  }
  .select-find__input-wrap {
    max-width: 300px;
  }
  .menu__list {
    font-size: 18px;
  }
  .header__items {
    font-size: 18px;
  }
  .goods-buy__price-sale-cost, .goods-buy__price-more-cost {
    font-size: 20px;
  }
  .goods-buy__price-sale-percent {
    width: 55px;
  }
  .goods-buy__price-sale-units {
    font-size: 14px;
  }
  .goods-buy__reviews-post-item:last-child.goods-buy__last-post .goods-buy__reviews-more .goods-buy__reviews-more-bnt {
    width: 48px;
    height: 28px;
    font-size: 17px;
    line-height: 25px;
  }
  .goods-buy__tooltip-more {
    left: 16px;
  }
  .goods-buy__tooltip {
    left: 67px;
  }
  .goods-buy__price-more-subtitle {
    width: 140px;
  }
  .goods-buy__price-more {
    min-width: 140px;
  }
  
}

@media(max-width:1315px) {
  .goods-buy__price-sale {
    width: 61%;
  }
  .goods-buy__price-base {
    width: 100px;
  }
  .btn-buy {
    width: 136px;
  }
}

@media(max-width:1310px) {
  .card__publish, .card__followers {
    font-size: 14px;
  }
}

@media(max-width:1300px) {
  .card__label {
    right: -73px;
  }
}

@media(max-width:1270px) {
  .categories__title {
    margin-right: 0;
  }
}

@media(max-width:1264px) {
  .goods-item__price_sale {
    margin-right: 18px;
  }
}

@media(max-width:1255px) {
  .inner-tff__price-tff {
    font-size: 20px;
  }
}


@media(max-width:1220px) {

  .section-inner {
    padding: 0 40px;
  }
  
  .header__menu {
    width: 62%;
  }

  .menu__list-icons-items {
    margin-left: 15px;
  }

  .menu__icons-wrap {
    margin-left: 30px;
  }

  .label-post {
    left: 14px;
  }

  .menu__search {
    width: 22px;
  }

  .menu__camera {
    height: 27px;
    width: 25px;
    background-position: 0 0px;
  }

  .menu__heart {
    background-position: 0 0px;
    height: 24px;
    background-size: 96% 190%;
  }

  .label-icons {
    top: -5px;
  }

  .menu__list-icons {
    overflow: visible;
  }

  .menu__bag {
    background-size: 100% 207%;
    bottom: 5px;
    width: 26px;
    height: 35px;
    background-position: 0px -23px;

  }

  .label-icons-bag {
    right: -4px;
    top: 0;
  }

  .select-categories {
    flex: 2;
    margin-right: 15px;
  }

  .select-name {
    flex: 2;
  }
  .select-find {
    margin-right: 0;
    flex: 4;
  }
  
  .select__title {
    width: 215px;
  }

  .card {
    width: calc(33.333% - 20px);
  }

  .select-choose-wrap {
    width: 76%;
  }
  
  .publications {
    width: calc(33.33333% - 20px);
  }

  .publications__name {
    margin-left: 14px;
  }
  .publications__name-text {
    margin-left: 4px;
    font-size: 14px;
  }
  .publications__rating {
    margin-right: 14px;
  }
  .publications__descr-text {
    .publications__descr-link {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .heart-number, .repost-number {
    font-size: 13px;
  }
  
  .publications__wrap-img {
    height: 324px;
  }

  .card__label {
    right: -97px;
  }

  .card__publish, .card__followers {
    font-size: 16px;
  }

  .section-inner.goods {
    padding: 0 0 0 40px;
  }

  .goods-menu {
    display: none;
  }

  .goods-slider {
    width: 47.1%;
  }

  .goods-buy {
    width: 52.9%;
    padding-right: 40px;
    padding-left: 22px;
  }

  .goods-buy__price {
    flex-wrap: wrap;
  }

  .goods-buy__price-sale {
    width: 70%;
  }
  .goods-buy__price-sale-title, .goods-buy__price-more-title {
    font-size: 16px;
  }
  .goods-buy__price-base-title {
    font-size: 16px;
    margin-top: 0;
  }
  .goods-buy__price-base {
    width: 120px;
  }
  .goods-buy__price-base-cost {
    font-size: 24px;
  }
  .goods-buy__tooltip {
    left: 88px;
  }
  .goods-buy__tooltip-more {
    left: 33px;
  }
  .goods-buy__price-sale-item {
    margin-bottom: 14px;
  }
  .goods-buy__price-sale-cost, .goods-buy__price-more-cost {
    margin-top: 0px;
  }
  .goods-buy__btn-wrap {
    margin-top: 26px;
  }
  .goods-buy__price-more {
    margin-bottom: 20px;
  }
  .goods-buy__price-more-subtitle {
    width: 100%;
    font-size: 14px;
  }
  .goods-slider__container-dots {
    display: none;
  }
  .mw1200 {
    display: block;
  }
  .goods-slider__item-dots {
    width: 70px;
    height: 70px;
  }  
  .goods-slider__inner {
    max-height: 609px;
  }
  .details-popup__parameters, .details-popup__payment {
    flex-direction: column;
  }

  .review-seller__goods {
    &:after {
      content: "";
      position: absolute;
      width: 98%;
      height: 140px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to top, rgba(255, 255, 255, 1) , rgba(255,255,255,0));
    }
  }
  
  .seller__review {
    .goods-buy__brand-add {
      position: absolute;
      max-width: 240px;
      bottom: -18px;
      left: 0;
    }
    .goods-item__descr {
      width: 333px;
    }
  }
  .goods-item__name {
    margin-bottom: 10px;
  }
  .goods-item__sale.coupon {
    height: 87px;
  }

  .publications-seller {
    .mw1200 {
      width: 238px;
    }
    .goods-slider__item-dots {
      height: 65px;
    }
    .goods-slider__inner {
      max-height: 477px;
      .slider-arrows {
        top: 30%;
      }
    }
  }

  .review-seller__goods {
    max-height: 370px;
  }

  .categories {
    .goods-menu {
      display: none;
    }
  } 

  .categories__main-wrap {
    width: 100%;
  }
  

}

@media(max-width:1135px) {
  .card__label {
    right: -89px;
  }
}

@media(max-width:1110px) {
  .menu__list {
    font-size: 16px;
  }
  .header__items {
    font-size: 16px;
  }
  
}

@media(max-width:1070px) {
  .card__label {
    right: -82px;
  }
}

@media(max-width:1060px) {
  
  .card__publish, .card__followers {
    font-size: 14px;
  }
}

@media(max-width:1035px) {
  .goods-buy__price-sale {
    width: 65%;
  }
}

@media(max-width:1020px) {
  .card__label {
    right: -76px;
  }
}

@media(max-width:1002px) {
  .seller__review {
    .goods-buy__brand-add {
      bottom: -33px;
    }
    .goods-item__name {
      margin-bottom: -5px;
    }
  
    .goods-item__name {
      margin-top: 36px;
    }

    .goods-item__wrap {
      margin-bottom: 5px;
    }
  }

  .inner-tff__price {
    margin-right: 10px;
  }

}




@media(max-width:992px) {

  .section {
    padding: 0 40px;
  }
  
  .section-inner {
    padding: 0 30px;
  }

  .select__wrap {
    margin-top: 14px;
    padding-bottom: 20px;
  }

  .header__logo {
    .logo-img {
      img {
        width: 130px;
        height: 32px;
      }
    }
  }
  
  .select-categories, .select-name {
    flex: 1;
    max-width: 160px;
    font-size: 14px;
  }
  
  .select-find {
    flex: 2;
    min-width: 230px;
    font-size: 14px;
    &__button {
      padding: 0 12px;
    }
    &__input {
      padding-left: 6px;
    }
  }

  .select-categories__item, .select-name__item, .select-find__input {
    font-size: 14px;
  }
  
  .select-categories__icon, .select-name__icon {
    height: 8px;
    width: 18px;
    background-position: 0 18px;
  }

  .select__title {
    width: 150px;
    font-size: 20px;
  }
  
  .select-categories__current, .select-name__current {
    font-size: 14px;
  }

  .select__title .select__numbers-account {
    font-size: 12px;
    padding-left: 5px;
  }

  .menu__list {
    display: none;
  }

  .menu__catalog-btn {
    display: block;
  }
  
  .header__wrap {
    height: 40px;
  }

  .card__name {
    font-size: 18px;
  }

  .card__text {
    font-size: 14px;
  }

  .card__info {
    font-size: 12px;
  } 
  
  .menu__icons-wrap {
    margin-top: 13px;
  }

  .header__menu {
    height: 34px;
    padding: 4px;
    width: 70%;
  }

  .header__items:not(:nth-child(2)) {
    line-height: 24px;
  }

  .header__items {
    font-size: 14px;
  }

  .header__items:nth-child(2) {
    line-height: 13px;
    a {
      line-height: 13px;
    }
  }

  .header__items:not(:nth-child(5)):after {
    height: 14px;
    top: 6px;
  }

  .header__items.header_active:before {
    height: 14px;
    top: 6px;
  }
  
  .header__items.header_active:after {
    height: 14px;
    top: 6px;
  }

  .view {
    height: 44px;
    padding-bottom: 155px;
  }

  .view__button {
    width: 184px;
    font-size: 20px;
    line-height: 42px;
  }

  .view__button-like {
    height: 44px;
  }

  .button-entry, .button-contact {
    width: 40px;
  }

  .button-bottom {
    height: 40px;
  }
  
  .publications__rating {
    margin-top: 0px;
    height: 53px;
    padding-top: 5px;
    margin-right: 8px;
  }
  
  .publications__rating-repost {
    margin-left: 8px;
  }

  .heart-number, .repost-number {
    display: block;
    margin-top: 7px;
    font-size: 12px;
  }

  .publications__rating-repost-img {
    margin-left: 0px;
  }

  .publications__name {
    margin-left: 8px;
    margin-bottom: 0;
  }

  .publications__name-text {
    font-size: 14px;
  }

  .publications__descr-link {
		font-size: 14px;
  }
  
  .publications__wrap {
    margin-top: 0;
  }

  .publications__rating {
    margin-bottom: 0;
  }

  .publications__wrap-img {
    min-height: 245px;
  }

  .publications__rating-heart-img, .publications__rating-repost-img {
    width: 18px;
    height: 16px;
  }

  .goods__inner {
    padding-bottom: 0;
  }

  .section-inner.goods {
    padding: 0 0 0 30px;
  }

  .goods-buy {
    padding-right: 30px;
  }

  .goods-buy__btn-subscribe {
    width: 110px;
    font-size: 18px;
  }
  .goods-buy__brand-add {
    max-width: 150px;
    font-size: 12px;
  }
  .goods-buy__brand-name {
    font-size: 18px;
  }
  .goods-buy__select-size-item, .goods-buy__amount-minus, .goods-buy__amount-plus {
    width: 30px;
    height: 26px;
    font-size: 18px;
    line-height: 24px;
  }
  .goods-buy__caution {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .goods-buy__select {
    margin-bottom: 20px;
  }
  .goods-buy__price-base-cost {
    font-size: 22px;
  }

  .goods-buy__descr-wrap {
    display: none;
  }
  .goods-buy__descr-wrap.mw992 {
    display: block;
    font-family: "Fira-Sans";
	  font-weight: 400;
    font-size: 16px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
    margin-right: 30px;
    padding-bottom: 20px;
    color: #3D3F3F;
  }
  .goods-slider {
    min-height: 745px;
  }
  .goods-buy__descr-title, .goods-buy__like {
    font-weight: 500;
  }
  .goods-buy__descr-text {
    font-size: 18px;
  }
  .goods-slider__item-dots {
    width: 60px;
  }
  .popup-opacity {
    width: calc(100% - 80px);
    height: calc(45% - 40px);
    top: 40px;
  }
  .reviews-popup, .together-popup, .details-popup {
    width: calc(100% - 80px);
  }
  .button-bottom__reviews-cross {
    margin: 7px auto;
  }
  .together-popup__name {
    font-size: 21px;
  }
  .together-popup__logo-title {
    font-size: 16px;
  }
  .together-popup__sale-wrap {
    flex-wrap: wrap;
  }
  .together-popup__sale, .together-popup__sale-total, .together-popup__sale-subscrabe {
    margin-bottom: 15px;
  }
  .together-popup__categories-wrap {
    font-size: 14px;
  }
  .post-wrap, .post-unauthorized {
    width: calc(100% - 80px);
	  height: calc(100% - 80px);
	  top: 40px;
  }
  .mw1200 {
    width: 230px;
  }
  .goods-slider__item-dots {
    height: 60px;
  }

  .publications-seller {
    .mw1200 {
      width: 210px;
    }
    .goods-slider {
      min-height: 500px;
    }
    .goods-slider__item-dots {
      height: 55px;
    }
    .goods-slider__inner {
      max-height: 395px;
      .slider-arrows {
        top: 30%;
      }
    }
    .review-seller__goods {
      max-height: 297px;
    }
    .goods-buy__btn-subscribe {
      width: 100px;
      height: 36px;
      line-height: 32px;
    }
    .goods-buy__brand-name {
      font-size: 16px;
    }
  }

  .goods-item__sale.coupon {
    height: 60px;
  }

  .seller__review .goods-buy__brand-add {
    bottom: -25px;
  }

  .seller__review .goods-item__name {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .seller-comments__title, .seller-comments__bnt {
    font-size: 16px;
  }

  .seller-descr {
    font-size: 14px;
  }

  .seller-descr__hashtag-list a {
    font-size: 12px;
  }

  .seller {
    margin-bottom: 30px;
  }

  .seller-descr__text {
    margin-bottom: 18px;
    width: 80%;
  }

  .text-comment__inner {
    width: 80%;
  }

  .publications-seller {
    padding-bottom: 110px;
  }

  .review-seller__title {
    font-size: 18px;
  }
  
  .goods-item__sale-item span {
    font-size: 13px;
  }

  .goods-item__price, .goods-item__price-total {
    font-size: 12px;
  }

  .goods-item__price_sale {
    margin-right: 10px;
    margin-left: 0;
}

  .goods-item__logo {
    width: 118px;
    height: 140px;
  }

  .goods-item__icon1 {
    width: 17px;
    height: 12px;
    left: 2px;
    top: 8px;
  }

  .goods-item__icon2 {
    width: 19px;
    height: 14px;
    top: 6px;
    left: 4px;
  }

  .goods-item__sale-item {
    padding: 7px 2px 7px 23px;
    margin-right: 5px;
    font-size: 12px;
  }

  .categories {
    .goods-item__sale-item {
      padding: 7px 8px 7px 36px;
      margin-right: 7px;
      font-size: 14px;
    }
    .goods-item__icon1 {
      width: 29px;
      height: 16px;
      left: 5px;
      top: 11px;
    }
    .goods-item__sale-item span {
      font-size: 18px;
    }
    .goods-item__icon2 {
      width: 25px;
      height: 22px;
      top: 5px;
      left: 6px;
    }
  }

  .review-seller__where-find {
    font-size: 12px;
  }

  .seller-profile__logo {
    width: 58px;
    height: 58px;
  }

  .card-categories__stock {
    top: -49px;
  }

  .card-categories__list li {
    font-size: 14px;
  }

  .categories__filter {
    flex-wrap: wrap;
    .filter-wrap {
      margin-bottom: 10px;
    }
  }

  .tff {
    .goods-item__sale-item {
      padding: 7px 8px;
    }
  }

  .inner-tff__wrap {
    flex-wrap: wrap;
  }
  .inner-tff__time {
    margin-left: 0px;
  }

}

@media(max-width:945px) {
  .card__label {
    right: -72px;
  }
}

@media(max-width:930px) {
  .card__publish, .card__followers {
    font-size: 13px;
  }
  .ordering__step2-delivery, .ordering__step2-pickup {
    font-size: 14px;
  }
  .ordering__step2-wrap {
    flex-direction: column;
  }
  .input-city {
    margin-left: 0;
  }
  .ordering__step2-input {
    width: 100%;
  }
  .step3-left-list {
    font-size: 10px;
  }
}

@media(max-width:900px) {
  .ordering__steps {
    width: 40%;
  }
  .ordering__goods {
    width: 60%;
  }
  .ordering__goods-title {
    font-size: 16px;
  }
  .ordering__step-title {
    font-size: 16px;
  }
  .ordering__title {
    font-size: 22px;
  }
  .ordering__info {
    font-size: 14px;
  }
  .ordering__step1-input label, .ordering__step2-input label {
    font-size: 14px;
  }
  .ordering__step2-choice {
    flex-direction: column;
  }
  .pickup-wrap__ready {
    font-size: 14px;
  }
  .step3-table {
    font-size: 14px;
  }
}



@media(max-width:892px) {
  .card__label {
    font-size: 14px;
  }
  .card__label-bottom {
    left: 11px;
    top: -8px;
  }
  .card__label-top span, .card__label-bottom span {
    font-size: 10px;
  }

  .seller {
    .card__label {
      font-size: 20px;
    }
    .card__label-top, .card__label-bottom {
      span {
        font-size: 14px;
      }
    }
    .card__label-bottom {
      left: 9px;
      top: -11px;
    }
  }

}

@media(max-width:880px) {
  .card__publish, .card__followers {
    font-size: 12px;
  }
  .goods-buy__price-sale {
    width: 63%;
  }
  .goods-buy__tooltip {
    left: 7px;
  }
  .card-categories__list li {
    font-size: 14px;
    margin-right: 3px;
  }
  .card-categories__price {
    font-size: 16px;
  }
  .card-categories__descr {
    bottom: -147px;
  }

}

@media(max-width:868px) {
  .publications__wrap-img {
    height: 300px;
  }
  
}

@media(max-width:850px) {
  .goods-buy__price-sale {
    width: 58%;
  }
  .goods-buy__price-sale-title, .goods-buy__price-more-title {
    font-size: 13px;
  }
  .goods-buy__price-base-title {
    font-size: 13px;
  }
  .goods-buy__tooltip-more {
    left: 13px;
  }
  .goods-buy__reviews-btn {
    width: 125px;
  }
  .categories {
    .goods-item__sale-item {
      padding: 7px 8px 7px 30px;
      font-size: 12px;
    }
    .goods-item__icon1 {
      width: 18px;
      height: 15px;
      left: 5px;
      top: 10px;
    }
    .goods-item__sale-item span {
      font-size: 16px;
    }
    .goods-item__icon2 {
      width: 21px;
      height: 17px;
      top: 6px;
      left: 6px;
    }
  }
  .card-categories__stock {
    top: -47px;
  } 
  .tff {
    .goods-item__sale-item {
      padding: 7px 8px;
      font-size: 14px;
    }
  }
} 

@media(max-width:820px) {
  .select-choose-wrap {
    width: 78%;
  }
  .select__title .select__numbers-account {
    padding-left: 2px;
  }
  .select__page {
    a {
      font-size: 13px;
    }
  }
  .select-categories__item, .select-name__item, .select-find__input {
    font-size: 13px;
  }
  .select-categories__current, .select-name__current {
    font-size: 13px;
  }
  .select__title {
    font-size: 17px;
  }
}

@media(max-width:816px) {
  .card__publish, .card__followers {
    font-size: 11px;
  }
  .card-categories__price {
    font-size: 14px;
  }
  .card-categories__descr {
    bottom: -145px;
  }
}

@media(max-width:783px) {
  .card-categories__list li {
    font-size: 13px;
    margin-right: 3px;
  }
}

@media(max-width:768px) {

  .select__wrap {
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .header__logo {
    .logo-img {
      img {
        width: 118px;
        height: 29px;
      }
    }
  }

  .header__menu {
    width: 73%;
  }

  .header__items {
    font-size: 12px;
  }

  .header__items:nth-child(2) {
    line-height: 13px;
  }
  
  .select-choose-wrap {
    width: 100%;
  }
    
  .button-entry, .button-contact {
    width: 40px;
  }

  .card {
    width: calc(50% - 20px);
  }

  .publications {
    width: calc(50% - 20px);
  }

  .select-categories__current, .select-name__current {
    font-size: 14px;
  }

  .select-categories__item, .select-name__item, .select-find__input {
    font-size: 14px;
  }
  
  .select-categories__icon, .select-name__icon {
    height: 8px;
    width: 18px;
    background-position: 0 18px;
  }

  .select-find {
    min-width: 230px;
  }

  .publications__wrap-img {
    min-height: 305px;
  }

  .publications__name {
    margin-left: 10px;
  }
  
  .publications__rating {
    margin-right: 10px;
  }
  
  .card__publish, .card__followers {
    font-size: 15px;
  }

  .card__label {
    right: -86px;
    font-size: 16px;
  }
  
  .card__label-top, .card__label-bottom {
    span {
      font-size: 11px;
    }
  }
  
  .card__label-bottom {
    left: 13px;
    top: -8px;
  }

  .seller {
    .card__label {
      font-size: 18px;
    }
    .card__label-top, .card__label-bottom {
      span {
        font-size: 12px;
      }
    }
    .card__label-bottom {
      left: 8px;
      top: -7px;
    }
  }
  

  .goods-slider {
    width: 44%;
  }

  .goods-buy {
    width: 56%;
  }

  .goods-buy__title {
    font-size: 18px;
  }

  .goods-buy__btn-subscribe {
    width: 105px;
    height: 36px;
    font-size: 18px;
    line-height: 32px;
  }

  .goods-buy__brand-name {
    font-size: 16px;
  } 

  .goods-buy__brand-inner {
    position: relative;
  }

  .goods-buy__brand-img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .goods-buy__brand-add {
    position: absolute;
    white-space: nowrap;
    bottom: -24px;
    left: 0;
  }

  .goods-buy__select {
    flex-direction: column;
    margin-bottom: 12px;
  }
    
  .goods-buy__select-size-img {
    width: 26px;
    height: 10px;
    margin-top: 4px;
  }

  .goods-buy__select-size-text {
    font-size: 12px;
  }

  .goods-buy__select-size-descr {
    margin-bottom: 10px;
  }

  .goods-buy__select-size-item {
    margin-bottom: 7px;
  }

  .goods-buy__select-size-title, .goods-buy__amount-title {
    font-size: 14px;
  }

  .goods-buy__amount {
    position: relative;
  }

  .goods-buy__amount-balance {
    position: absolute;
    left: 101px;
    top: 28px;
    font-size: 12px;
  }

  .goods-buy__amount-current {
    margin: 0 10px;
    font-size: 20px;
  }

  .goods-buy__amount-title {
    margin-bottom: 6px;
  }

  .goods-buy__caution {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .goods-buy__amount-select {
    margin-bottom: 0px;
  }

  .goods-buy__price-sale {
    width: 60%;
  } 

  .goods-buy__price-base {
    width: 95px;
  }

  .goods-buy__price-base-cost {
    font-size: 18px;
  }

  .btn-buy {
    width: 132px;
  }

  .goods-buy__delivery {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .goods-buy__price-base-title {
    margin-top: 3px;
  }

  .goods-buy__price-more-title {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .details-popup__wrap {
    flex-direction: column;
  }

  .details-popup__wrap-left, .details-popup__wrap-right {
    width: 100%;
    padding-right: 0;
  }
  
  .details-popup__parameters {
    flex-direction: row;
  }

  .details-popup__parameters {
    margin-bottom: 20px;
  }

  .details-popup__title {
    margin-bottom: 15px;
  }

  .details-popup__payment-left {
    max-width: 100%;
  }
  .together-popup__logo-title {
    font-size: 14px;
  }
  .together-popup__name {
    font-size: 18px;
  }
  .post-wrap, .post-unauthorized {
    padding: 0 50px;
  }
  .post-wrap__inner, .post-block {
    padding-right: 25px;
    padding-left: 15px;
  }
  
  .mw1200 {
    width: 180px;
  }
  .goods-slider__item-dots {
    height: 45px;
  }

  .goods-slider__options {
    justify-content: space-between;
    padding-top: 10px;
    width: 60px;
    &-heart {
      width: 25px;
      height: 23px;
    }
    &-share {
      width: 19px;
      height: 19px;
      margin-left: 15px;
      &:hover {
        background-position: 0 19px;
      }
    }
  }

  .tff .card-categories__item.time-end:hover .goods-slider__options-share {
    background-position: 0px 19px;
  }

  .publications-seller {
    .mw1200 {
      width: 180px;
    }
    .goods-slider {
      min-height: 380px;
    }
    .goods-slider__item-dots {
      height: 45px;
    }
    .goods-slider__inner {
      max-height: 280px;
    }
    .review-seller__goods {
      max-height: 200px;
      padding-right: 8px;
      &:after {
        height: 70px;
      }
    }
    .goods-buy__btn-subscribe {
      width: 92px;
      height: 32px;
      line-height: 28px;
    }
    .goods-buy__brand-name {
      font-size: 12px;
    }
    .goods-buy__brand-img {
      width: 40px;
      height: 40px;
      margin-right: 6px;
    }
    .goods-slider__options {
      margin-top: 4px;
    }
    .seller__slider {
      margin-right: 8px;
      width: 50%;
    }
  
    .review-seller__profile {
      margin-bottom: 16px;
    }
  
    .seller__review {
      margin-left: 8px;
      width: 50%;
    }
  }
  
  .goods-item__logo {
    width: 80px;
    height: 100px;
  }

  .seller-profile__logo {
    width: 50px;
    height: 50px;
  }

  .seller-descr__text {
    width: 95%;
  }

  .text-comment__inner {
    width: 90%;
  }

  .seller-descr__hashtag-list {
    margin-bottom: 40px;
  }

  .review-seller__title {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .seller-profile__name {
    margin-left: 7px;
    line-height: 16px;
    font-size: 14px;
  }

  .seller-profile__label {
    font-size: 12px;
  }

  .seller__review .goods-buy__brand-add {
    max-width: 119px;
  }
  
  .seller__review .goods-item__name {
    font-size: 12px;
    bottom: -26px;
    line-height: 17px;
    margin-bottom: 0;
  }

  .goods-item__price_sale {
    margin-left: 0px;
    margin-right: 12px;
    font-size: 12px;
  }

  .goods-item__price-total {
    font-size: 12px;
  }

  .goods-item__sale.coupon{
    height: 65px;
  }

  .card-categories__item {
    width: calc(50% - 20px);
  }

  .card-categories__price {
    font-size: 18px;
  }

  .card-categories__list li {
    font-size: 14px;
    margin-right: 7px;
  }

  .ordering__inner {
    flex-direction: column;
  }

  .ordering__steps, .ordering__goods {
    width: 100%;
  }
  .ordering__goods-inner {
    margin-top: 0;
  }

}

@media(max-width:745px) {
  .together-popup__article-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .together-popup__name, .together-popup__logo-wrap {
    margin-bottom: 15px;
  }
}

@media(max-width:720px) {
  .card__label {
    right: -79px;
  }
  
}

@media(max-width:700px) {
  
  .card__publish, .card__followers {
    font-size: 14px;
  }

  .goods-item__sale-item {
    font-size: 9px;
  }
  .goods-item__sale-item span {
    font-size: 11px;
  }
  .goods-item__price_sale, .goods-item__price-total  {
    font-size: 10px;
  }
  .publications-seller .goods-buy__btn-subscribe {
    width: 82px;
    font-size: 16px;
  }
  
}

@media(max-width:682px) {
  .card__label {
    right: -74px;
  }
}

@media(max-width:668px) {
  .header__items:nth-child(3) {
    a {
      padding: 0 6px;
    }
  }
}


@media(max-width:665px) {
  
  .header__menu {
    display: none;
    width: 100%; 
  }

  .logo-img {
    display: none;
  }

  .logo-img-small {
    display: block;
    margin-top: 3px;
  }
  
  .section {
    padding: 0;
  } 
  
  .section-inner {
    padding: 0 15px;
  }

  .burger-wrap {
    display: block;
    cursor: pointer;
  }

  .header__shadow.active {
    display: block;
    position: absolute;
    width: 20%;
    height: 100vh;
    z-index: 81;
    left: 0;
    top: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__menu.active {
    display: block;
    position: absolute;
    width: 80%;
    height: 100vh;
    z-index: 81;
    right: 0;
    top: 0;
    background-image: none;
    padding: 0;
        
    .header__list {
      flex-direction: column;
      background-color: #000;
      padding-left: 30%;
      
    }

    .header__items {
      font-size: 16px;
      line-height: 42px;
      background-color: #000;
      color: #fff;
      text-align: left;
      &:nth-child(2) {
        a {
          line-height: 48px;
        }
      }
      a {
        padding: 0 11px;
        background-color: #000;
        color: #fff;
      }
      &:after {
        content: none;
      }
    }
  
    .header__items:not(:nth-child(2)) {
      font-size: 16px;
      line-height: 48px;
      
    }
   
  
  }

  .header__items.header_active:before, .header__items.header_active:after {
    width: 0;
    height: 0;
    background-color: #000;
  }
  
  .burger-wrap.active {
    z-index: 82;
    right: 10px;
    &::after, &::before {
      z-index: 83;
      transition: all 0s;
      width: 24px;
    }
    &::before	{
      top: 18px;
    }
    &::after {
      bottom: 8px;
    }
  }

  .select-find__input-wrap {
    max-width: 100%;
  }

  .select-find__button {
    display: none;
  }

  .select-choose-wrap {
    
    display: none;
    margin-bottom: 80px;
  }

  .select-choose-wrap.active {
    display: block;
  }

  .select__wrap {
    padding-bottom: 0;
    position: relative;
  }

  .select__wrap.active {
    padding-bottom: 40px;
  }

  .select-find__input {
    border: 1px solid #E3E3E3;
    padding-left: 8px;
  }

  .select-categories, .select-name, .select-find__input {
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
    z-index: 4;
  }

  .select-categories {
    z-index: 5;
  }

  .header__wrap {
    height: 35px;
    padding: 0 15px;
  }

  .menu__rating {
    width: 95px;
    font-size: 12px;
  }

  .menu__icons-wrap {
    margin-left: 0;
    margin-top: 7px;
    z-index: 5;
  }

  .menu__catalog-btn {
    max-width: 128px;
    padding-left: 10px;
    font-size: 15px;
    max-height: 36px;
    line-height: 32px;
    span {
      display: block;
      position: absolute;
      right: 5px;
      top: 4px;
      width: 15px;
      height: 16px;
      background-image: url(../img/arrow_down.svg);
      background-repeat: no-repeat;
      background-position: 0 8px;
      
    }
  }

  .view {
    padding-bottom: 115px;
  }

  .view__button-like {
    position: absolute;
    flex-direction: column-reverse;
    width: 45px;
    height: 90px;
    z-index: 5;
    
  }

  .view__arrow {
    height: 45px;
    width: 41px;
    background-color: #fff;
    margin: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 5px;
  }
  
  .view__arrow-img {
    width: 27px;
    height: 21px;
    margin: 2px;
    background-image: url(../img/arrow_red_upanddown.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -15px;
  }
  
  .view__numbers {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 900;
  }
  
  .select {
    margin-top: -3px;
  }

  .select__page {
    display: none;
  }

  .menu__categories {
    padding-bottom: 7px;
  }

  .select__title {
    margin-bottom: 0;
    margin-left: 15px;
  }

  .select__filter {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: $accent-color;
    font-family: Fira-Sans;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 5;
    padding-right: 22px;
    .label-icons {
      top: 8px;
    }

  }

  .select__back {
    display: block;
  }

  .button-entry, .button-contact {
    width: 0px;
  }

  .button-entry__text, .button-contact__text {
    display: none;
  }

  .button-mobile, .button-mobile-right {
    display: block;
  }

  .card__label {
    right: -85px;
  }

  .goods__inner {
    flex-direction: column;
  }

  .section-inner.goods {
    padding: 0 15px;
  }

  .goods-slider {
    width: 100%;
    padding-right: 15px;
    min-height: 580px;
  }

  .mw1200 {
    width: 145px;
    .slick-slide {
      margin-right: 8px;
    }
    
  }
  
  .goods-slider__item-dots {
    height: 35px;
  }
  
  .goods-slider__inner {
    max-height: 514px;
  }

  .goods-slider__inner .slider-arrows {
    top: 35%;
  }

  .goods-buy {
    width: 100%;
    margin-top: 15px;
    padding: 0 15px 0 0 ;
  }


  .goods-buy__price, .goods-buy__price-wrap {
    flex-direction: column;
  }

  .goods-buy__price-sale, .goods-buy__price-base {
    width: 100%;
  }
  
  .goods-buy__price-base-title, .goods-buy__price-sale-title, .goods-buy__price-more-title {
    font-size: 17px;
  }

  .goods-buy__price-base-title {
    margin-bottom: 7px;
  } 

  .goods-buy__price-base-cost {
    margin-bottom: 12px;
  }

  .goods-buy__btn-wrap {
    margin-top: 0px;
  }
  
  .goods-buy__delivery {
    margin-bottom: 20px;
  }

  .goods-buy__descr-title {
    margin-bottom: 8px;
  }

  .popup-opacity.active {
    display: none;
  }

  .details-popup__wrap {
    padding: 20px 15px 0;
    font-size: 16px;
  }

  .reviews-popup, .together-popup, .details-popup {
    width: calc(100% - 0px);
    height: 60%;
  }

  .button-bottom.active {
    bottom: 60%;
  }

  .details-popup__title {
    font-size: 18px;
  }

  .details-popup__parameters {
    flex-direction: column;
  }

  .post-wrap, .post-unauthorized {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 90;
  }

  .seller {
    flex-wrap: wrap;
    padding: 15px;
  }

  .publications-seller {
    .seller__slider, .seller__review {
      margin-right: 0px;
      width: 100%;
    }
    .seller__review {
      margin-left: 0;
    }
    .goods-slider__inner {
      max-height: 500px;
    }
    .review-seller__goods {
      max-height: none;
      padding-right: 0;
    }
    .goods-buy__brand-name {
      font-size: 14px;
    }
    .goods-buy__brand-img {
      width: 50px;
      height: 45px;
    }
    .goods-buy__brand-add {
      max-width: 195px;
      font-size: 10px;
      bottom: -15px;
    }
    .goods-item__name {
      font-size: 14px;
      margin-top: 20px;
    }
    .goods-item__sale-item {
      padding: 7px 11px 7px 30px;
    }
    .review-seller__goods:after {
      height: 0px; 
    }
    .goods-item {
      margin-bottom: 0px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .goods-item:not(:last-child) {
      border-bottom: 1px solid #F2F2F2;
    }
    
  }

  .goods-item__price, .goods-item__price-total {
    font-size: 14px;
  }

  .review-seller__where-find {
    font-size: 14px;
  }

  .review-seller__where-find {
    margin-bottom: 0;
  }

  .goods-slider {
    padding-right: 0;
  }
    
  .select__back-categories {
    display: block;
  }

  .seller-profile__name {
    font-size: 16px;
  }

  .seller-profile__label {
    font-size: 14px;
  }

  .goods-item__icon1, .goods-item__icon2 {
    left: 6px;
  }

  .goods-buy__brand-name-wrap {
    height: auto;
  }

  .seller-comments__bnt {
    display: none;
  }

  .seller-comments__bnt-small {
    display: block;
  }

  .inner-tff__price {
    margin-right: 20px;
  }

  .inner-tff__time {
    margin-bottom: 30px;
  }

  .win-popup {
    width: 100%;
    height: 60%;
  }

}

@media(max-width:600px) {
  .card__label {
    right: -72px;
  }
  
}

@media(max-width:550px) {
  .publications__wrap-img {
    min-height: 269px;
  }
  .card__publish, .card__followers {
    font-size: 12px;
  }
}

@media(max-width:545px) {
  .card__label {
    right: -64px;
    font-size: 13px;
  }
  
  .card__label-top, .card__label-bottom {
    span {
      font-size: 9px;
    }
  }
  
  .card__label-bottom {
    top: -6px;
    left: 10px;
  }
}

@media(max-width:515px) {
  .card-categories__price {
    font-size: 16px;
  }
}

@media(max-width:480px) {

  .card {
    width: calc(100% - 20px);
  }

  .publications {
    width: calc(100% - 20px);
  }
 
  .heart-number, .repost-number {
    display: inline-block;
    
  }

  .publications__rating {
    padding-top: 13px;
  }

  .publications__rating-heart-img, .publications__rating-repost-img {
    width: 20px;
    height: 20px;
  }

  .contact__main {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .contact__address, .contact__about {
    width: 100%;
  }

  .contact__about {
    margin-top: 20px;
  }

  .contact__title, .contact__street {
    text-align: center;
  }

  .contact__title {
    padding-right: 15px;
  }

  .contact__map {
    display: none;
  }

  .contact__map-small {
    display: block;
  }

  .contact__address {
    padding-left: 0;
  }

  .contact__street {
    font-size: 13px;
    padding-right: 0;
  }

  .contact__nubmer1, .contact__nubmer2 {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    padding-left: 5px;
    text-align: center;
  }

  .contact__nubmer2 {
    float: right;
    
  }
  
  .contact__list {
    padding-right: 0;
  }
  
  .contact__button {
    margin-right: 0;
    margin-top: 5px;
  }

  .card__label {
    right: -107px;
    font-size: 16px;
  }
  
  .card__label-top, .card__label-bottom {
    span {
      font-size: 11px;
    }
  }
  
  .card__label-bottom {
    left: 13px;
    top: -8px;
  }

  html {
    overflow-x: hidden;
  }

  .card__publish, .card__followers {
    font-size: 15px;
  }

  .card-categories__item {
    width: 100%;
  }

  .card-categories__price {
    font-size: 18px;
  }

  .card-categories__list li {
    font-size: 18px;
    margin-right: 12px;
  }

  .categories {
    .goods-item__sale-item {
      padding: 9px 12px 9px 36px;
      font-size: 14px;
    }
    .goods-item__icon1 {
      width: 22px;
      height: 19px;
      left: 5px;
      top: 10px;
    }
    .goods-item__sale-item span {
      font-size: 18px;
    }
    .goods-item__icon2 {
      width: 22px;
      height: 20px;
      top: 6px;
      left: 6px;
    }
  }
  .card-categories__stock {
    top: -53px;
  }

  .tff {
    .goods-item__sale-item {
      padding: 7px 8px;
      font-size: 14px;
    }
  }

}

@media(max-width:451px) {
  .goods-slider__inner {
    max-height: 340px;
  }
  .goods-slider {
    min-height: 400px;
  }
  .win-popup .win-popup__title-wrap {
    margin-bottom: 35px;
  }
}

@media(max-width:440px) {
  .tooltip {
    left: -61px;
  }
}

@media(max-width:415px) {
  .goods-slider__inner {
    max-height: 475px;
  }
  .goods-slider {
    min-height: 545px;
  }
  .item-goods__balance, .item-goods__img {
    min-width: 0;
  }
  .item-goods__descr {
    font-size: 14px;
  }
  .item-goods__bottom-row {
    font-size: 10px;
  }
  .item-goods__descr {
    min-width: 175px;
  }
}

@media(max-width:400px) {
  .together-popup__sale-progress-list li {
    display: block;
    width: 9px;
    height: 14px;
  }
}


@media(max-width:390px) {
  .goods-buy__brand {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .goods-buy__title {
    font-size: 14px;
  }
  .goods-buy__brand-name {
    font-size: 13px;
  }
  .goods-buy__brand-add {
    font-size: 12px;
    bottom: 1px;
    left: 58px;
  }
  .goods-buy__brand-inner {
    margin-bottom: 10px;
  }
  .goods-buy__descr-text {
    font-size: 16px;
  }
  .goods-buy__descr-more, .goods-buy__reviews-title {
    font-size: 18px;
  }
  .goods-buy__reviews-title {
    max-width: 150px;
  } 
  .goods-buy__reviews-title span {
    font-size: 14px;
  }
  .goods-buy__reviews-btn {
    width: 100px;
    font-size: 18px;
  }

}

@media(max-width:380px) {
  .card__label {
    right: -95px;
  }
    
}

@media(max-width:376px) {
  .goods-slider__inner {
    max-height: 407px;
  }
  .goods-slider {
    min-height: 470px;
  }
}


@media(max-width:350px) {
  
  .btn-basket {
    width: 110px;
  }
  .together-popup__title {
    font-size: 18px;
  }
}

@media(max-width:340px) {
  .goods-slider {
    min-height: 385px;
  }
  .goods-slider__inner {
    max-height: 310px;
  }
  .item-goods__descr {
    min-width: 175px;
  }
  .item-goods__img {
    min-width: 70px;
  }
}

@media(max-width:330px) {
  .goods-slider {
    min-height: 290px;
  }
}










